[Unit]
Description=xremap

[Service]
KillMode=process
ExecStart=%h/.nix-profile/bin/xremap --watch %h/.config/xremap/config.yml
ExecStop=/usr/bin/killall xremap
Type=simple
Restart=always

[Install]
WantedBy=default.target
