[user]
	name = OpenJNY
	email = openjny@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	quotepath = false
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[push]
	default = simple
[web]
	browser = open
[browser "chrome"]
	cmd = open -a 'Google Chrome.app'
[ghq]
	root = ~/Develop
[alias]
  a = add
  b = branch
  s = status -uall
  d = diff
  p = push
  cm = commit
  co = checkout
  comas = checkout master
  l = log --graph --decorate --all --oneline
  lgg = log --graph --all --decorate
  difff = diff --name-only

  # list
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort

  # Make this a git repo
  this = !git init && git add . && git commit -m \":tada: Initial commit\"

  # Quickly add a file/dir to .gitignore.
  # ignore = !([ ! -e .gitignore ] && touch .gitignore) && echo $1 >> .gitignore
  ignore = "!f() { echo $1 >> \"${GIT_PREFIX}.gitignore\"; }; f"

  # Add remote repo. as origin
  addorigin = remote add origin # <https://..., git://...>

  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
