
# ignore all files
/*
/.*
!/.gitignore
!/README.md

# script
!/setup.sh
!/uninstall.sh

# ドキュメント
!/doc

# editor
!/.vimrc

!/.vim
/.vim/bundles/*
!/.vim/bundles/.gitkeep

# git
!/.gitconfig
!/.gitignore_global

# tmux
!/.tmux.conf
!/.tmux.darwin.conf

# shell
!/.bash_profile
!/.dir_colors
!/bin
!/.zshenv
!/.zshrc
!/.zsh
.zcompdump
.zcompcache
!/.dircolors

# latexmk
!/.latexmkrc

# ag
!/.agignore

!/.Xmodmap

# binの中のローカルファイル
/bin/python