# ignore all files
/*
/.*
!/.gitignore
!/README.md

# script
!/setup.sh
!/update.sh

# ドキュメント
!/ossetup
!/terminal
!/latex
!/python
!/ssh
!/vim
!/chrome

# editor
!/.vimrc

!/.vim
/.vim/bundles/*
!/.vim/bundles/.gitkeep

# git
!/.gitconfig
!/.gitignore_global

# tmux
!/.tmux.conf
!/.tmux.darwin.conf

# shell
!/.bash_profile
!/.dir_colors
!/bin
!/.zshenv
!/.zsh
.zcompdump

# latexmk
!/.latexmkrc

# ag
!/.agignore
